body,
html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.top-section-wrapper {
    background-color: #001D37;
    overflow: hidden;
    padding: 0 16px;
    color: white;

}

.top-section {
    padding: 80px 0;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

/* this div was created to keep the content above the cirlces only */
.actual-top-content {
    position: relative;
    z-index: 2;
}

.top-section h1 {
    font-size: 4rem;
    margin: 0;
    line-height: 97.3%;
    max-width: 525px;
}

.intro-text {
    font-size: 1.25rem;
    line-height: 169.3%;
    margin: 1rem 0;
    max-width: 435px;
}

.intro-buttons {
    margin-bottom: 70px;
}


.our-btn {
    background-color: #475AFF;
    color: white;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 1.125rem;
    display: inline-block;
    text-transform: capitalize;
    border: 2px solid #475AFF;
    transition: background-color .3s ease-out, border-color .3s ease-out, color .3s ease-out;
}

.our-btn:hover {
    background-color: #222b7e;
    border: 2px solid #222b7e;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid white;
}

.our-btn--outline:hover {
    background-color: white;
    color: #475AFF;
    border: 2px solid white;
}

.utility-mr {
    margin-right: 10px;
}

.intro-features {
    display: grid;
    gap: 1rem;
}

@media screen and (min-width: 580px) {
    .intro-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .intro-feature {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 900px) {
    .intro-features {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.intro-feature {
    border: 1px solid rgba(255, 255, 255, .24);
    padding: 33px 25px;
}

.intro-feature h2 {
    font-size: 1.5rem;
    margin: 30px 0 10px;
}

.intro-feature p {
    margin: 0;
    font-size: 1.0625rem;
}

.circle {
    width: 617px;
    height: 617px;
    opacity: .85;
    border-radius: 50%;
    filter: blur(150px);
    position: absolute;

}

.circle-one {
    top: 62px;
    right: -390px;
    background-color: #d660ff;

}

.circle-two {
    background-color: #6079FF;
    top: -365px;
    left: -123px;
}

.page-section {
    background-color: white;
    padding: 80px 16px;
}

.page-section-inner {
    max-width: 1066px;
    margin: 0 auto;
}

.page-section-title {
    line-height: 1;
    margin: 0;
    font-size: 3.5rem;
}

.pet-filter {
    color: #9f9f9f;
    font-size: 1.15rem;
}

.pet-filter button {
    all: unset;
    display: inline-block;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.15rem;
    color: #9f9f9f;
    cursor: pointer;
}

.pet-filter button:hover {
    color: #7d7d7d;
}

.pet-filter .active,
.pet-filter .active:hover {
    color: #475aff;
    text-decoration: underline;
}

.site-footer p {
    text-align: center;
    color: #a6a6a6;
    font-size: .875rem;
    margin: 0;
    padding-bottom: 65px;
}

.list-of-pets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.pet-card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 130px 1fr;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.pet-card-photo {
    order: 1;
    grid-row: 1;
}

.pet-card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pet-card-text {
    padding: 1rem 1.2rem;
}

.pet-card-text h3 {
    margin: 0 0 5px 0;
    font-size: 1.625rem;
    font-weight: 600;
    text-transform: capitalize;
}

.pet-description {
    margin: 0 0 1rem;
    color: #626262;
    line-height: 150%;
    font-size: .9rem;
}

.pet-age {
    color: #a2a2a2;
    font-size: .85rem;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .top-section h1 {
        font-size: 6.25rem;

    }

    .top-section {
        padding: 139px 0;
    }

    .intro-buttons {
        margin-bottom: 129px;
    }

    .page-section {
        background-color: white;
        padding: 130px 16px;
    }

    .page-section-title {
        font-size: 5.3125rem;
    }

    .pet-filter,
    .pet-filter button {
        font-size: 1.375rem;
    }

    .pet-card-text {
        padding: 21px 29px;
    }

    .list-of-pets {
        gap: 34px;
    }

    .pet-description {
        font-size: 1rem;
    }

    .pet-card {
        grid-template-columns: 165px 1fr;
    }

}